<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>釣果を共有しよう</h1>
　<p>Gyotakerをはじめよう</p>
  <div>
  <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-primary w-75" %>
  </div>
  <div>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-success mt-3 w-75 " %>
  </div>
</div>
<% end %>