<div class="info-user">
<%= link_to gravatar_for(micropost.user, size: 17), micropost.user%>
<%= link_to micropost.user.name, micropost.user%>
</div>
<div class="content">
  <div>
   <%if micropost.image.attached?%>
    <%= link_to image_tag(micropost.display_image(180,180)), micropost%>
   <%end%>
  </div>
  <div>
   <%= micropost.content %>
  </div>
</div>
 <div class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </div>