<div style='width: 500px;' class="mt-3">
  <div id="map" style='width: 500px; height: 500px;'></div>
</div>

<script type="text/javascript">

    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(setPosition);
      }
      handler.getMap().setZoom(11);
    });

    function setPosition(position){
      handler.getMap().setCenter(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
    }
</script>