 <%= link_to "/likes/#{micropost.id}/destroy", method: :delete, remote: true do %>
     <span class="fa fa-heart like-btn-unlike"></span>
 <% end %>
 <span id="count-<%= micropost.id %>">
    <%= micropost.likes.count%>
 </span>