 <%= link_to "/likes/#{micropost.id}/create", method: :post, remote: true do %>
     <span class="fa fa-heart like-btn"></span>
 <% end %>
 <span id="count-<%= micropost.id %>">
     <%= micropost.likes.count%>
 </span>