<%= form_with(model: @comment, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "add a comments..." %>
  </div>
  <%= hidden_field_tag :micropost_id, @micropost.id%>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>