<%= form_with(model: @micropost, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <span class="image">
      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>
  <div class="current_location">
   <%=button_tag "現在位置を追加", type: "button", class: "mb-3", onclick: "getLocation()"%>
   <span id="address" class="address"></span>
   <%= f.hidden_field :latitude , value: nil%>
   <%= f.hidden_field :longitude , value: nil%>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $("#micropost_image").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      $("#micropost_image").val("");
    }
  });
</script>

<script>
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(setPosition);
    
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function setPosition(position) {
  var lat = position.coords.latitude;
  var lng = position.coords.longitude;

  var geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(lat, lng);
  geocoder.geocode({'latLng': latlng}, function(results, status) {
  
  if (status == google.maps.GeocoderStatus.OK) {
    var address_components = results[0].address_components;
    var components={}; 
    jQuery.each(address_components, function(k,v1) {jQuery.each(v1.types, function(k2, v2){components[v2]=v1.long_name});});
    document.getElementById('address').innerHTML =  retName(components.administrative_area_level_1) 
                                                  + retName(components.locality)
                                                  + retName(components.sublocality_level_1)
                                                  + retName(components.sublocality_level_2)
    document.getElementById('micropost_latitude').value = lat;
    document.getElementById('micropost_longitude').value = lng;
  }
  else {
    document.getElementById('address').innerHTML = "error";
  alert("エラー" + status);
  }
 });
}

function retName(argName){
  return retVal = (argName == null) ? "" : argName;
} 
</script>