<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
   <%= image_tag micropost.display_image if micropost.image.attached? %>
   <%= micropost.content %>
  </span>
  <div class="reaction-area">
  <span class="like" id="like-<%= micropost.id %>">
   <% if !current_user.nil? && micropost.islike?(current_user.id)%>
    <%= render 'likes/like', :micropost => micropost %>
   <% else %>
    <%= render 'likes/unlike', :micropost => micropost %>
   <% end %>
  </span>
  <%if @comment.nil? %>
   <span class="comment">
    <%= link_to micropost_path(micropost) do %>
      <span class="far fa-comment"></span>
    <% end %>
    <%=micropost.comments.count%>
   </span>
  <%end%>
  </div>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>