<div class="row">
    <aside class="col-md-4">
      <section class="micropost_form">
        <%= render 'shared/comment_form' %>
      </section>
    </aside>
    <div class="col-md-8">
     <div class="microposts">
      <%= render @micropost%>
     </div>
     <ul class="microposts ml-4">
      <% @micropost.comments.all.each do |comment|%>
       <li>
        <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
        <span class="user"><%= link_to comment.user.name, comment.user %></span>
        <span class="content"><%= comment.content%></span>
        <span class="timestamp">Posted <%= time_ago_in_words(comment.created_at) %> ago.
         <% if current_user?(comment.user) %>
          <%= link_to "delete", comment, method: :delete, data: { confirm: "You sure?" } %>
         <% end %>
        </span>
       </li>
      <%end%>
     </ul>
    </div>
</div>