<% provide(:title, 'Search') %>
<%= search_form_for @search, url: searchs_path do |f| %>
 <%= f.text_field :name_cont, class: "form-control search-text mt-3", placeholder: 'User search...' %>
<% end %>

<ul class="users">
 <%= render @users %> 
</ul>

 <%= will_paginate @users,params: { controller: :searchs, action: :index } %>