<footer class="d-md-none">
<% if logged_in? %>
 <nav class="navbar navbar-expand navbar-dark bg-primary navbar-fixed-bottom">
  <div class="container">
   <ul class="navbar-nav f-outer">
    <li class="nav-item f-inner">
      <%= link_to maps_path do %>
       <span class="nav-link fas fa-globe-asia f-icon-size"></span>
      <% end %>
    </li>
     <li class="nav-item f-inner">
      <%= link_to searchs_path do %>
       <span class="nav-link fas fa-search f-icon-size"></span>
      <% end %>
    </li>
    <li class="nav-item f-inner">
     <%= link_to root_path do %>
       <span class="nav-link fas fa-plus-circle f-icon-size"></span>
      <% end %>
    </li>
    <li class="nav-item f-inner">
     <%= link_to like_path(current_user) do %>
      <span class="nav-link fas fa-heart f-icon-size"></span>
     <% end %>
    </li>
    <li class="nav-item f-inner">
      <%= link_to user_path(current_user) do %>
       <span class="nav-link fas fa-user f-icon-size"></span>
      <% end %>
    </li>
   </ul>
  </div>
 </nav>
 <%end%>
</footer>