<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
  <%= link_to "gyotaker", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home",   root_path , class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Help",   help_path , class: "nav-link" %>
      </li>
      <% if logged_in? %>
       <li class="nav-item active">
        <%= link_to "Users", users_path , class: "nav-link" %>
       </li>
       <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Profile", current_user , class: "dropdown-item" %>
          <%= link_to "Settings", edit_user_path(current_user) , class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Log out", logout_path, class: "dropdown-item", method: :delete %>
        </div>
       </li>
      <% else %>
       <li><%= link_to "Log in", login_path , class: "nav-link active" %></li>
      <% end %>
    </ul>
    
    <% if logged_in? %>
     <%= search_form_for @search, class: "form-inline my-2 mt-lg-3 navbar-right d-none d-md-inline", url: users_path do |f| %>
      <%= f.text_field :name_cont, class: "form-control mr-sm-2", placeholder: 'User search...' %>
      <%= f.submit ("Search") , class: 'btn btn-light my-2 my-sm-0 mr-md-5'%>
     <% end %>
    <% end %>
  </div>
</nav>
</header>